.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;

  &__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: coral;
  }

  &__login {
    margin-left: auto;
    margin-right: 20px;
  }

  Button {
    background-color: coral;
    border-radius: 5px;
    color: #59503f;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}